[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
networkx = "*"
scipy = "*"
matplotlib = "*"
simpy = "*"
pykka = "*"
self = "*"
pandas = "*"
tk = "*"
hashlib = "*"
ordereddict = "*"
gmpy = "*"
gmpy2 = "*"
asyncio = "*"
uvloop = "*"

[requires]
python_version = "3.8"
